#one {
    width: 550px;
    height: 200px;
    
}

#resultWindow {
    width: 100px;
    height: 45px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#operation {
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0;
}

#calculate {
    width: 100px;
    height: 15px;
    padding: 0;
    margin: 0;
}